@import "tailwindcss";

@keyframes firework {
  0% { 
    transform: translate(-50%, -50%) scale(0.2);
    opacity: 1;
  }
  70% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 1;
  }
  100% { 
    transform: translate(-50%, -50%) scale(2);
    opacity: 0; 
  }
}

.firework {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  aspect-ratio: 1;

  background:
    radial-gradient(circle, red 4px, transparent 5px),
    radial-gradient(circle, yellow 4px, transparent 5px),
    radial-gradient(circle, blue 4px, transparent 5px),
    radial-gradient(circle, lime 4px, transparent 5px),
    radial-gradient(circle, cyan 4px, transparent 5px),
    radial-gradient(circle, orange 4px, transparent 5px);

  background-size: 20% 20%;

  background-position:
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%;

  background-repeat: no-repeat;

  animation: firework 1s ease-out infinite;
}